<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>MYPAGE</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
</head>
<body>
<div class="container-md">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="row">
        <div class="gy-3 col-sm-3">
            <div class="d-grid gap-2 col-4 justify-content-md-start">
                <a class="btn btn-primary" href="/members/login">로그인</button>
                <a class="btn btn-secondary" href="/members/new">회원가입</a>
            </div>
        </div>
        <div class="col offset-sm-2">
            <h3>전화번호 목록</h3>
        </div>
    </div>
    <div class="row">
        <div class="col offset-sm-2">
            <table class="table table-boarder">
                <thead>
                <tr>
                    <th>#</th>
                    <th>전화번호</th>
                    <th>이름</th>
                    <th>등록날짜</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="dialnumber : ${dialnumbers}">
                    <td th:text="${dialnumber.id}"></td>
                    <td th:text="${dialnumber.number}"></td>
                    <td th:text="${dialnumber.name}"></td>
                    <td th:text="${dialnumber.addDate}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col offset-sm-5">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-sm gx-1">
            <div class="btn btn-primary" href="/dialnumbers/add">등록</div>
        </div>
    </div>
</div>
</body>
</html>